<!doctype html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="../style.css" />
</head>
<body>
  <div style="margin-top: 1em;">
    <img src="../images/placeholder.jpg" class="animal-pic" style="display: inline;">
    <h1 style="display: inline;">Placeholder</h1>
  </div>

  <div class="container">

    <div class="row">

      <div class="col-lg">
        <h2>DO</h2>
        <ul>
          <li><strong>DO</strong> roll on the floor</li>
          <li><strong>DO</strong> everybody walk the</li>
          <li><strong>DO</strong> dinosaur</li>
        </ul>
      </div>

      <div class="col-lg">
        <h2>DON'T</h2>
        <ul>
          <li><strong>DON'T</strong> you</li>
          <li><strong>DON'T</strong> forget about me</li>
          <li><strong>DON'T</strong> hey hey hey hey</li>
        </ul>
      </div>

    </div>

  </div>

</body>
</html>
