<!doctype html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="../style.css" />
</head>
<body>

  <h1>Nature Threats</h1>

    <div class="container">
      <div class="row">
        <div class="animal col-sm">
          <img src="../images/placeholder.jpg" class="animal-pic" />
          <p>placeholder</p>
        </div>

        <div class="animal col-sm">
          <img src="../images/placeholder.jpg" class="animal-pic" />
          <p>placeholder</p>
        </div>

        <div class="animal col-sm">
          <img src="../images/placeholder.jpg" class="animal-pic" />
          <p>placeholder</p>
        </div>
      </div>

      <div class="row">
        <div class="animal col-sm">
          <img src="../images/placeholder.jpg" class="animal-pic" />
          <p>placeholder</p>
        </div>

        <div class="animal col-sm">
          <img src="../images/placeholder.jpg" class="animal-pic" />
          <p>placeholder</p>
        </div>

        <div class="animal col-sm">
          <img src="../images/placeholder.jpg" class="animal-pic" />
          <p>placeholder</p>
        </div>
      </div>
    </div>

</body>
</html>
